<!DOCTYPE html>
<html>

<body>

<h2>Nova Entrega</h2>

<form action="/salvar" method="post">

Nota Fiscal<br>
<input type="text" name="nf"><br><br>

Cliente<br>
<input type="text" name="cliente"><br><br>

Endereço<br>
<input type="text" name="endereco"><br><br>

Motorista<br>

<select name="motorista">

{% for m in motoristas %}

<option>{{m}}</option>

{% endfor %}

</select>

<br><br>

Status<br>

<select name="status">

<option>Pendente</option>
<option>Saiu para entrega</option>

</select>

<br><br>

<button type="submit">Salvar</button>

</form>

<br>

<a href="/">Voltar</a>

</body>

</html>